@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
html {
  box-sizing: border-box;
  color: black; }

*, :after, :before {
  box-sizing: inherit; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  background-color: #171c25; }

a {
  display: inline-block; }

p {
  letter-spacing: .25px;
  line-height: 24px; }

img {
  max-width: 100%; }

blockquote {
  font-style: italic;
  margin: 1em;
  margin-left: 3em;
  display: block;
  color: #eee !important;
  letter-spacing: .25px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 400; }

h2, h3 {
  color: black;
  margin: 0; }

h1 {
  color: black; }

* {
  font-weight: 300; }

a:hover, button:hover {
  cursor: pointer; }

/*END OF RESET*/
#wrapper {
  max-width: 970px;
  margin: -16px auto 0 auto;
  padding: 40px;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  #wrapper .logo {
    width: 500px;
    display: block;
    margin: 0 auto; }
  #wrapper .container {
    max-width: 700px;
    margin: 100px auto 100px auto;
    padding: 0px 0 0px 0;
    border-radius: 10px;
    font-family: Lato, sans-serif !important;
    box-shadow: 0px 7px 19px 0px rgba(199, 199, 199, 0.59); }
    #wrapper .container nav {
      text-align: center; }
      #wrapper .container nav ul {
        margin: 0;
        padding: 0;
        background: #3b5ea4;
        border-radius: 10px 10px 0 0; }
        #wrapper .container nav ul li {
          list-style-type: none;
          display: inline-block;
          width: 49.78%;
          cursor: pointer; }
        #wrapper .container nav ul a {
          text-decoration: none;
          font-size: 23px;
          padding: 11px;
          font-weight: 500;
          color: white; }
    #wrapper .container .search {
      padding: 25px 50px 40px 50px;
      box-shadow: -1px -8px 31px -4px rgba(0, 0, 0, 0.22);
      min-height: 400px; }
      #wrapper .container .search .results {
        margin-top: 50px; }
        #wrapper .container .search .results h1 {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 10px; }
      #wrapper .container .search label {
        display: block;
        margin-bottom: 4px; }
      #wrapper .container .search input {
        width: 61%;
        font-size: 17px;
        padding: 4px;
        font-family: Lato, sans-serif !important;
        font-weight: 500;
        margin-bottom: 10px;
        border: 0.5px solid #d7d7d7;
        outline: none;
        transition: all 0.3s ease;
        border-radius: 3px 0 0 3px; }
        #wrapper .container .search input:focus {
          border: 0.5px solid #3b70b9; }
        #wrapper .container .search input::placeholder {
          color: #cdcdcd; }
      #wrapper .container .search select {
        font-size: 15px;
        padding: 5px;
        font-weight: 300;
        vertical-align: top;
        margin: 0 0 0 -3px;
        border: 0.5px solid #d7d7d7;
        border-left: none;
        outline: none;
        width: 176px; }
        #wrapper .container .search select:focus {
          border: 0.5px solid #3b70b9; }
        #wrapper .container .search select option {
          font-family: Lato, sans-serif !important; }
      #wrapper .container .search button {
        margin-left: -3.5px;
        padding: 2px 12px 3px 12px;
        border: none;
        vertical-align: top;
        font-size: 20px;
        background-color: #354F8F;
        color: white;
        outline: none;
        border-radius: 0 3px 3px 0;
        transition: background-color 0.3s ease; }
        #wrapper .container .search button:hover {
          background: #3b70b9; }
      #wrapper .container .search table {
        width: 100%;
        font-size: 18px;
        border-radius: 3px;
        table-layout: fixed; }
        #wrapper .container .search table thead {
          border-top: 1px solid #dee2e6;
          border-bottom: 1px solid #dee2e6; }
        #wrapper .container .search table th {
          background: #F2F2F2;
          font-weight: 500;
          padding: 0.75rem;
          text-align: inherit; }
        #wrapper .container .search table tr:nth-child(even) {
          border-top: 1px solid #dee2e6;
          background: #F2F2F2; }
        #wrapper .container .search table td {
          padding: 0.75rem;
          font-size: 16px;
          word-wrap: break-word; }
    #wrapper .container .admin {
      padding: 25px 50px 40px 50px;
      box-shadow: -1px -8px 31px -4px rgba(0, 0, 0, 0.22);
      display: flex;
      justify-content: space-between; }
      #wrapper .container .admin .left-side {
        width: 40%; }
      #wrapper .container .admin .right-side {
        width: 49%; }
        #wrapper .container .admin .right-side select {
          max-width: 200px; }
        #wrapper .container .admin .right-side button {
          margin-top: 10px; }
      #wrapper .container .admin label {
        display: block;
        margin-bottom: 4px; }
      #wrapper .container .admin input {
        font-size: 17px;
        padding: 4px;
        font-family: Lato, sans-serif !important;
        font-weight: 500;
        margin-bottom: 10px;
        border: 0.5px solid #d7d7d7;
        outline: none;
        transition: all 0.3s ease;
        border-radius: 3px 0 0 3px;
        display: block; }
        #wrapper .container .admin input:focus {
          border: 0.5px solid #3b70b9; }
        #wrapper .container .admin input::placeholder {
          color: #cdcdcd; }
      #wrapper .container .admin button {
        padding: 7px 12px 7px 12px;
        margin-top: 5px;
        border: none;
        vertical-align: top;
        font-size: 17px;
        background-color: #354F8F;
        color: white;
        outline: none;
        border-radius: 3px;
        transition: background-color 0.3s ease; }
        #wrapper .container .admin button:hover {
          background: #3b70b9; }
      #wrapper .container .admin select {
        font-size: 15px;
        padding: 5px;
        font-weight: 300;
        vertical-align: top;
        margin: 0 0 0 0;
        border: 0.5px solid #d7d7d7;
        outline: none;
        display: block; }
        #wrapper .container .admin select:focus {
          border: 0.5px solid #3b70b9; }
        #wrapper .container .admin select option {
          font-family: Lato, sans-serif !important; }

.active-left {
  background: white;
  color: #354F8F;
  border-radius: 10px 10px 0  0;
  border-top: 2px solid #354F8F; }
  .active-left a {
    color: #354F8F !important; }

.active-right {
  background: white;
  color: #354F8F;
  border-radius: 10px 10px 0  0;
  border-top: 2px solid #354F8F;
  box-shadow: 0px -6px 36px -12px white; }
  .active-right a {
    color: #354F8F !important; }

/*# sourceMappingURL=app.component.css.map */
